<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Identificación</th>
    <th scope="col">Alterego</th>
    <th scope="col">Detalle</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let superhumano of datos.superHumanos.content">
    <th scope="row">{{ superhumano.id }}</th>
    <td>{{ superhumano.identificacion }}</td>
    <td>{{ superhumano.alterEgo }}</td>
    <td>{{ superhumano.detalle }}</td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [value]="pageSize" (ngModelChange)="refreshCountries()">
    <option [value]="2">2 items per page</option>
    <option [value]="4">4 items per page</option>
    <option [value]="6">6 items per page</option>
  </select>
</div>
